*
{
    margin: 0;
    padding: 0;
}
.tabs
{
    position: relative;
    display: flex;
    justify-content: space-around;
}
.tab:after
{
    position: absolute;
    content: "";
    width: 0%;
    height: 3px;
    background-color: black;
    bottom: -10px;
    transition: 0.3s;
}
.tab:hover::after
{
    width: 10%;
}
img
{
    height: 500px;
    width: 500px;
}
h2
{
    margin-top: 10px;
    font-size: 30px;
    color: #012332;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.content2
{
    display: none;
}
.content3
{
    display: none;

}
.content4
{
    display: none;
}